body {
	background-color: $bgcolor;
	  
}

.container {
	width: 100%;

	.question {
		/*width:600px;*/
		/*height:50px;*/
		margin: $quesmar;
		text-align:center;
		border:1px solid $orange;
		border-radius: 10px;
		background-color:$white;
		padding: 25px;
		@include box-shadow(red 2px 2px 10px);
	}
	
	#option-1 {
			/*width:400px;*/
			/*height:50px;*/
			padding: $chpad;
			border-radius: 10px;
			color: white;
			margin:$optmar;
			text-align:center;
			background-color:$orange;
			@include box-shadow(red 2px 2px 10px);
			position: relative;
		}

		#option-2 {
			/*width:400px;*/
			/*height:50px;*/
			padding: $chpad;
			border-radius: 10px;
			color: white;
			margin:$optmar;
			text-align:center;
			background-color:$orange;
			@include box-shadow(red 2px 2px 10px);

		}

		#option-3 {
			/*width:400px;*/
			/*height:50px;*/
			padding: $chpad;
			border-radius: 10px;
			color: white;
			margin: $optmar;
			text-align:center;
			background-color:$orange;
			@include box-shadow(red 2px 2px 10px);

		}
}

.current {
	width:400px;
			height:50px;
			border-radius: 10px;
			color: $orange;
			margin: $optmar;
			background-color:$white;
			@include box-shadow(red 2px 2px 10px);
}