
.check {
	@include icons-sprite(correct);
	height: $wch;
	width: $wcw;
}

.cross {
	@include icons-sprite(wrong);
	height: $wch;
	width: $wcw;
}

.content {

	h1{
		span {
			color:$orange;
		}
	}

	.y {
		.check {
			display: inline-block;
		}

		.messONe {
			display: inline-block;
		}
	}

	.x {
		.cross {
			display: inline-block;
		}

		.messTwo {
			display: inline-block;
		}
	}
	
}